<%= form_for @poem, :html => { :class => 'form-horizontal' } do |f| %>
 <div class="haiku">
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'text_area', :cols => 30, :rows => 10 %>
    </div>
  </div>
  <div class="control-group haiku">
    <%= f.label :by, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :by, :class => 'text_field', :size => 5  %>
       <%= f.submit nil, :class => 'btn btn-primary', :value=> 'New Haiku' %>
       </div>
  </div>
</div>
<% end %>
